<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="stopMusic()"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-img slot="start" class="login-logo" src="../assets/images/UNCC_Logo.jpeg"></ion-img>
    <ion-label class="logout" slot="end" color="danger" button (click)="doGoogleLogout()">
      Logout
    </ion-label>
  </ion-item>
  <div class="div-padding"></div>

  <ion-text color="dark" class="welcome-msg-wrapper">
    <h2 class="feeling-msg-wrapper">Play whenever you are ready.</h2>
  </ion-text>


  <ion-card *ngIf="activeTrack" no-margin color="dark" class="card">
    <ion-card-content color="dark">
      <ion-toolbar color="dark" class="toolbar">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            {{activeTrack.name}}
          </ion-col>
          <ion-col class="play-button-wrapper" color="dark">
            <ion-button (click)="start()" *ngIf="!play" >
              Play
            </ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="play" color="dark">
            <ion-range #range [(ngModel)]="progress" max="100" color="success" (touchend)="seek()" (mouseup)="seek()">
            </ion-range>
          </ion-col>
          <ion-col size="12" class="ion-text-center" *ngIf="play" color="dark">
            <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying" color="light">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="togglePlayer(true)" *ngIf="isPlaying" color="light">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>

  <div class="label-wrapper">
    <ion-text>
      <ion-label>Are you done listening? Click on done to proceed</ion-label>
    </ion-text>
    <div class="button-wrapper">
      <ion-button class="button-size" size="small" (click)="goToFeedback()">Done</ion-button>
    </div>
  </div>

  
</ion-content>
