<ion-content>
  <ion-item lines="none">
    <ion-img slot="start" class="login-logo" src="../assets/images/UNCC_Logo.jpeg"></ion-img>
    <ion-label class="logout" slot="end" color="danger" button (click)="doGoogleLogout()">
      Logout
    </ion-label>
  </ion-item>
  <div class="div-padding"></div>

  <ion-text color="dark" class="welcome-msg-wrapper">
    <h2 class="welcome-spacing">Welcome {{name}} !</h2>
    <h2 class="feeling-msg-wrapper">How are feeling on a scale of 1-7?</h2>
  </ion-text>

  <ion-grid>
    <ion-row style="display: flex;">
      <ion-col size="4" class="ion-align-self-start">
        <ion-text class="text" color="dark">Very Positive</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="seven" (click)="openAudio(7)" >7</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex;">
      <ion-col size="4" class="ion-align-self-center">
        <ion-text class="text" color="dark">Positive</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="six" (click)="openAudio(6)">6</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center">
        <ion-text class="text" color="dark">Positive</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="five" (click)="openAudio(5)">5</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center">
        <ion-text class="text" color="dark">Neutral</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="four" (click)="openAudio(4)">4</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center">
        <ion-text class="text" color="dark">Negative</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="three" (click)="openAudio(3)">3</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center">
        <ion-text class="text" color="dark">Negative</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="two" (click)="openAudio(2)">2</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="display: flex;">
      <ion-col size="4" class="ion-align-self-start">
        <ion-text class="text" color="dark">Very Negative</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="one" (click)="openAudio(1)">1</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>